{% extends "base.html" %}
{% load bootstrap %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'core_company' %}">Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'core_department' %}">Department</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_employee' %}">Employee</a>
        </li>
    </ul>
{% endblock %}


{% block main %}

<div class="row">
    <div class="col-6">
        <h5> Create Department </h5>
        <form action="{% url 'core_create_department' %}" method="POST" >
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-info">Create</button>
        </form>
    </div>

    <div class="col-6">
        <h5> Department List </h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">company</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Edit</th>

                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{department.company}}</td>
                        <td>{{department.name}}</td>
                        <td>{{department.status}}</td>
                        <td>
                            <a href="{% url 'core_update_department' department.id %}">Edit</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}
