<h2> Create Company </h2>
        <form action="{% url 'core_create_company' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{form.as_p}}

        <button type="submit">Create</button>
        </form>

<h2> Company List </h2>
        <table>
            <thead>
                <tr>
                <th scope="col">logo</th>
                <th scope="col">Name</th>
                <th scope="col">legal Number</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{company.logo}}</td>
                        <td>{{company.name}}</td>
                        <td>{{company.legal_number}}</td>
                        <td>
                            <a href="{% url 'core_update_company' company.id %}">Edit</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>

            <a href="department">Department</a> <br>
            <a href="employee">Employee</a>
